@model frestocke.Models.Image.AssetIndexModel
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    var activeUserId = HttpContextAccessor.HttpContext.Session.GetInt32("activeUserId");
    var activeUserLogin = HttpContextAccessor.HttpContext.Session.GetString("activeUserLogin");
    var alert = HttpContextAccessor.HttpContext.Session.GetString("alert");
    var alertType = HttpContextAccessor.HttpContext.Session.GetString("alertType");
    var alertIcon = HttpContextAccessor.HttpContext.Session.GetString("alertIcon");
}
@{
    ViewData["Title"] = "Home Page";
}

@if (alert != null)
{

        <div class="modal fade" id="alert" tabindex="-1" role="dialog" aria-labelledby="alert" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h3 class="modal-title text-center" id="alertLabel">
                            @alert <br />
                            <span class="glyphicon @alertIcon text-center" style="font-size:200px; margin:30px"></span>
                        </h3>
                    </div>
                </div>
            </div>
        </div>

    <script>
        $(document).ready(function () {
            $('#alert').modal('show');
        });
    </script>

    HttpContextAccessor.HttpContext.Session.Remove("alert");
    HttpContextAccessor.HttpContext.Session.Remove("alertIcon");
}



<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/banner1.svg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                @if (activeUserId == null)
                {
                    <p>Witaj na Frestocke gdzie dbamy o Twoją wygodę i szybkość pobierania.</p>
                }
                else
                {
                    <p>Dziękujemy że nam zaufałeś @activeUserLogin. </p>
                }

            </div>
        </div>
        <div class="item">
            <img src="~/images/banner2.svg" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                @if (activeUserId == null)
                {
                    <p>
                        Zaloguj się by móc swobodnie pobierać obrazki.<br />
                        <a class="btn btn-default" href="#" data-toggle="modal" data-target="#Login" style="margin: 10px 0">
                            <span class="glyphicon glyphicon-log-in"></span> Zaloguj
                        </a>

                    </p>
                }
                else
                {
                    <p>
                        Dzięki temu że się zalogowałeś możesz swobodnie pobierać obrazki.
                    </p>
                }
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner3.svg" alt="Microsoft Azure" class="img-responsive" />
            <div class="carousel-caption" role="option">
                @if (activeUserId == null)
                {
                    <p>
                        Nie trać czasu. Wgrywaj swoje prace dzieląc się z innymi grafikami.
                        <br />
                        Stwórz darmowe konto już dzisiaj!
                        <br />
                        <a class="btn btn-default" href="#" data-toggle="modal" data-target="#createAccount" style="margin: 10px 0">
                            <span class="glyphicon glyphicon-user"></span> Stwórz konto
                        </a>

                    </p>
                }
                else
                {
                    <p>
                        Dziel się z innymi grafikami. Dodaj swoje obrazki już dziś.
                    </p>
                    <br />
                    <a class="btn btn-default" href="#" data-toggle="modal" data-target="" style="margin: 10px 0">
                        <span class="glyphicon glyphicon-plus-sign"></span> Dodaj obrazek
                    </a>
                }
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>







<div class="container">
    <div class="row">
        <div align="center" style="margin: 50px auto 10px auto; background-color: #affa93; padding: 10px 0 10px 0" class="col-lg-12">
            <button class="btn btn-default filter-button" data-filter="all">All</button>
            @foreach (var cat in Model.Categories)
            {
                <button class="btn btn-default filter-button" data-filter="@cat.name">@cat.name</button>
            }
        </div>
        <br />

        @foreach (var image in Model.Images)
        {
            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter @image.category.name">
                @if (activeUserId != null)
                {
                    <a href="@image.filepath" download>
                        <img src="~/images/stockthumbnails/@image.filename" class="img-responsive" style="object-fit:cover; width:365px; height: 365px;">
                    </a>
                }
                else
                {
                    <img src="~/images/stockthumbnails/@image.filename" class="img-responsive" style="object-fit:cover; width:365px; height: 365px;">
                }
            </div>
        }
    </div>
</div>
<script>
    $(document).ready(function () {
        $(".filter-button").click(function () {
            var value = $(this).attr('data-filter');
            console.log("click");
            if (value == "all") {
                $('.filter').show('1000');
            }
            else {
                $(".filter").not('.' + value).hide('3000');
                $('.filter').filter('.' + value).show('3000');
            }
        });
        if ($(".filter-button").removeClass("active")) {
            $(this).removeClass("active");
        }
        $(this).addClass("active");
    });
</script>



@*<div id="assets">
        <h3>Stock Images</h3>
        <div id="assetsTable">
            <table class="table table-condensed" id="imagesIndexTable">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Image</th>
                        <th>Title</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var image in Model.Images)
                    {
                        <tr class="assetRow">
                            <td>@image.id</td>
                            <td class="">
                                <img src="@image.filepath" class="imageCell" width="200px" />
                            </td>
                            <td>@image.title</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>*@
